.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px !important;
  padding: 0px 1rem;
  
}



img {
  width: 100%;
  height: 148px;
  object-fit: cover;
}
.navLinkWrapper {
  display: flex;
}
ul {
  padding-left: 0px !important;
}
li {
  list-style: none;
}
.unOrderedList {
  display: inline-flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.searchBoxWrapper {
  width: 100%;
  padding: 0.5rem;
}
.searchBox {
  width: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.restaurantWrapper {
  margin: 16px 32px;
  display: grid;
  grid-template-columns: repeat(4,auto);
  align-items: start;
    gap: 24px;
}
.restaurantCardWrapper {
  background: hsl(0deg 0% 97.2%);
  border-radius: 1rem;
  cursor: pointer;
}
.cuisines{
  -webkit-font-smoothing: antialiased;
  font-family: "Basis Grotesque Pro";
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.avgStarCostOfTwo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardImageconatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.restaurantCard {
  border-radius: 10px;
  border: 1px solid #101010;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  padding: 8px;
}
.cardContentWrapper {
  padding: 0.25rem 0.8rem;
}
.avgstarandCost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchButtonConatiner {
  display: flex;
}

.search{
  display: inline-flex;
  width: 50%;
  gap: 1rem;
}
.shimmerWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;

}
.shimmerCards{
  display: flex;
 flex-direction: row;
  width: 220px;
  height: 350px;
  background: hsl(0, 3%, 93%);
  border-radius: 1rem;
}

.linkWrapper{
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: pointer;

}
.menuItemImg{
  display: inline-block;
  width: 100%;
  max-width: 200px;
  min-width: 100px;
}

.dishDiscription{
  -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 2;
}
.menuItemGrid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 gap: 16px;
}
.menuItemGrid >img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuList{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  border: 1PX solid grey;
  padding: 8px;
  border-radius: 12px;
}
.classComponent, .functionalComponent{
  border: 1px solid greenyellow;
  margin: 0.5rem;
  background:linear-gradient(302deg, #ff000063, #a8b2f4);
}
