.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
*{
    box-sizing: border-box;
    
}
body{
    margin: 0px !important;
}
img{
    height: 148px;
    width: 148px;
}
.navLinkWrapper{
    display: flex;
  
}
ul{
    padding-left: 0px !important;}
li{
    list-style: none;
}
.unOrderedList{
    display: inline-flex;
    gap: 1rem;
    font-size: 1.5rem;
}